/* This class will make a circle of any square image */
.img-round {
  border-radius: 50%;
}

.person{
  min-height: 65px;
}

/* Thanks to Matt for the blockquote styling */
blockquote {
  border: 0px;
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  width: 500px;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
}

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}
/* end blockquote styling */