/* This class will make a circle of any square image */
p{
  margin-bottom: 0;
}
.img-round {
  border-radius: 50%;
}

.person {
  min-height: 65px;
}
.panel .callout{
  background-color: #CCC;
}
.center-text{
  text-align: center;
}
.hack-reactor{
  position: fixed;
  top: 0;
  right: 0;
  border: 0
}
.has-tip{
 color: white; 
 border-bottom: none
}
/* Thanks to Matt for the blockquote styling */
blockquote {
  border: 0px;
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  width: 200px;
  margin: 0.25em 0;
  padding: 0.25em 0px;
  line-height: 1.45;
  position: relative;
  color: #383838; 
}

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 40px;
  position: absolute;
  left: -20px;
  top: -15px;
  color: #7a7a7a;
}
/* end blockquote styling */

/* Button Styling */

.btn-login{
  float: right;
  margin-top: 10px;
}

.show-hide-form{
  width: 100%;
  font-weight: bold;
}

/*User Profile*/
.user-name{
  text-align: center;
}

.user-img{
  padding: 5px;
}
h5{
  font-weight: bold;
  font-size: 1.2em;
}
.title{
  font-size: 1em;
}

.user-details{
  background-color: #FEFEFE;
}
.user-activity .user-description{
  margin-top: 5px;
  font-weight: 300;
  font-style: italic;
}

.user-activity .user-keywords{
  font-weight: bolder;
}

form.leave{
  padding: 0;
}

.leave button{
  width: 80%;
  padding: 3px;
}
/*Activity view styling*/
.activity{
  padding: 0.5em 1em;
}
.activity-title{
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
.join{
  padding: 0;
  margin: 0 10px 0 0;
}
.join button{
  width: 100%;
  padding: 5px;
}
.activity-info p{
  margin: 0;
}

.location{
  text-align: left;
  padding-left: 1em;
  text-transform: capitalize;
  font-weight: bold;
}

.keywords{
  text-align: right;
  font-weight: bold;
  font-style: italic;
}

.description{
  text-align: center;
}

.show-more{
  margin: 0;
  text-decoration: underline;
  font-weight: 200;
}

/* Adds */
.ad{
  margin-bottom: 10px;
}